$black-color: #000000;
$white-color: #ffffff;
$theme-color: #b4777b;
$dark-white: #f2f2f2;
$break-small: 320px;
$break-large: 1024px;
$break-med: 768px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  } @else if $media == medium-screens {
    @media only screen and (max-width: $break-med) {
      @content;
    }
  } @else if $media == wide-screens {
    @media only screen and (max-width: $break-large + 1) {
      @content;
    }
  }
}

/*


@include respond-to(handhelds) {
      }
      @include respond-to(wide-screens) {
      }
      @include respond-to(medium-screens) {
      }
*/

body {
  font-family: Catamaran, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: visible;
  overflow-x: hidden;
  background: $dark-white !important;
  .clearfix {
    clear: both;
  }
  background: $white-color;
  .first-header {
    width: 100%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    background: $black-color;
    @include respond-to(handhelds) {
      position: relative;
    }
    @include respond-to(medium-screens) {
      position: relative;
    }
    h2 {
      font-family: Catamaran;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 23px;
      color: $white-color;
      text-align: center;
    }
  }
  .second-header {
    top: 38px;
    padding: 25px;
    position: relative;
    background: $white-color;
    margin-right: -10px;
    margin-left: -10px;
    @include respond-to(handhelds) {
      position: relative;
      top: 0;
      text-align: center;
      padding-top: 5px;
    }
    @include respond-to(medium-screens) {
      position: relative;
      top: 0;
      text-align: center;
      padding-top: 5px;
    }
    .top-left {
      float: left;
      width: 15%;
      @include respond-to(handhelds) {
        width: 100%;
        float: none;
        position: relative;
      }
      @include respond-to(medium-screens) {
        width: 100%;
        float: none;
        position: relative;
      }

      ul {
        list-style: none;
        li {
          display: inline;
          &:hover {
            .dropdown-content {
              display: block;
            }
          }
          a {
            color: $black-color;
            text-decoration: none;
            &:hover {
              text-decoration: none;
            }
            em.sympol {
              margin: 0;
            }
          }
          em {
            margin: 0 5px;
            font-size: 13px;
          }
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            width: inherit;
            margin-right: 5px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            @include respond-to(medium-screens) {
              width: 50%;
              margin: auto;
              left: 30%;
            }
            @include respond-to(handhelds) {
              width: 50%;
              margin: auto;
              left: 30%;
            }
            a {
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              &:hover {
                background-color: #f1f1f1;
              }
            }
          }
        }
      }
    }
    .logo {
      position: absolute;
      width: 30%;
      height: 28px;
      left: 30.95%;
      top: calc(50% - 28px / 2 - 1.5px);
      font-family: Catamaran;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 28px;
      /* identical to box height */
      text-align: center;
      text-transform: uppercase;
      color: $black-color;
      @include respond-to(handhelds) {
        width: 100%;
        float: none;
        position: relative;
        text-align: center;
        left: 0;
        top: 0;
        height: auto;
        padding: 15px;
      }
      @include respond-to(medium-screens) {
        width: 100%;
        float: none;
        position: relative;
        text-align: center;
        left: 0;
        top: 0;
        height: auto;
        padding: 15px;
      }
    }
    .top-right {
      width: 35%;
      float: right;
      @include respond-to(handhelds) {
        width: 100%;
        float: none;
        position: relative;
      }
      @include respond-to(medium-screens) {
        width: 100%;
        float: none;
        position: relative;
      }

      ul.my-account {
        list-style: none;
        float: left;
        @include respond-to(handhelds) {
          float: none;
        }
        @include respond-to(medium-screens) {
          float: none;
        }
        li {
          display: inline;
          &:hover {
            .dropdown-content {
              display: block;
            }
          }
          a {
            color: $black-color;
            text-decoration: none;
            &:hover {
              text-decoration: none;
            }
            em.sympol {
              margin: 0;
            }
          }
          em {
            margin: 0 5px;
            font-size: 13px;
          }
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            width: inherit;
            margin-right: 5px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            @include respond-to(medium-screens) {
              width: 50%;
              margin: auto;
              left: 30%;
            }
            @include respond-to(handhelds) {
              width: 50%;
              margin: auto;
              left: 30%;
            }
            a {
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              &:hover {
                background-color: #f1f1f1;
              }
            }
          }
        }
      }
      ul.actions {
        list-style: none;
        float: right;
        @include respond-to(handhelds) {
          float: none;
          padding-top: 15px;
        }
        @include respond-to(medium-screens) {
          float: none;
          padding-top: 15px;
        }
        li {
          display: inline-block;
          a {
            color: $theme-color;
            background: $white-color;
            border: 2px solid $theme-color;
            text-decoration: none;
            padding: 10px;
            border-radius: 50%;
            margin: 0 5px;
            box-sizing: border-box;
            transition: all 0.3s ease-in;

            &:hover {
              text-decoration: none;
              background: $theme-color;
              color: $white-color;
            }
            em {
              vertical-align: text-top;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  .container {
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
    @include respond-to(handhelds) {
      width: 100%;
    }
    @include respond-to(medium-screens) {
      width: 100%;
    }
    @include respond-to(wide-screens) {
      padding: 0;
      width: 100%;
    }
  }
  /*************
  Menu Start
  *************/
  section.menu {
    min-height: 110px;
    background: $white-color;
    margin-right: -10px;
    margin-left: -10px;
    @include respond-to(handhelds) {
      min-height: 1px;
    }
    @include respond-to(medium-screens) {
      min-height: 1px;
    }
    nav {
      position: relative;
      margin-top: 45px;
      text-align: center;
      @include respond-to(handhelds) {
        text-align: left;
        border: 1px solid #b5797d;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
      }
      @include respond-to(medium-screens) {
        text-align: left;
        border: 1px solid #b5797d;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
      }

      .menu-list {
        list-style: none;
        @include respond-to(wide-screens) {
          text-align: left;
        }
        li.menu-item {
          display: inline-block;
          margin: 0 20px;
          @include respond-to(wide-screens) {
            margin: 0 10px;
          }
          @include respond-to(handhelds) {
            display: block;
            margin: 20px;
          }
          @include respond-to(medium-screens) {
            display: block;
            margin: 20px;
          }

          &:last-of-type {
            a {
              background: $black-color;
              color: $white-color;
              &:hover {
                color: $white-color;
                text-decoration: none;
                border-bottom: 3px solid $white-color;
              }
            }
          }
          /*  &:hover > .toggle-div {
          display: block !important;
        }*/
          > a {
            color: $black-color;
            text-decoration: none;
            text-transform: capitalize;
            border-bottom: 3px solid $white-color;
            padding: 10px;
            transition: all 0.4s ease-in;

            &:hover {
              color: $black-color;
              text-decoration: none;
              border-bottom: 3px solid $theme-color;
            }
          }
          .toggle-div {
            display: none;
            min-height: 350px;
            z-index: 10;
            background: rgb(255, 255, 255);
            .sub-menu {
              list-style: none;
              position: absolute;
              text-align: left;
              left: 100px;
              top: 50px;
              @include respond-to(medium-screens) {
                background: $theme-color;
                color: $white-color;
                position: relative;
                left: 0;
                top: 10px;
                padding: 1px 15px;
                border-radius: 1px;
              }
              @include respond-to(handhelds) {
                background: $theme-color;
                color: $white-color;
                position: relative;
                left: 0;
                padding: 1px 15px;
                border-radius: 1px;
              }
              h4 {
                margin-bottom: 5px;
              }
              li {
                text-align: left;
                margin: 10px 0;
                float: left;
                width: 55%;
                @include respond-to(medium-screens) {
                  float: none;
                  width: auto;
                  color: $white-color;
                }
                @include respond-to(handhelds) {
                  float: none;
                  width: auto;
                  color: $white-color;
                }
                a {
                  color: $black-color;
                  font-size: 13px;
                  text-decoration: none;
                  text-transform: capitalize;
                  padding: 10px 0;
                  &:hover {
                    color: $theme-color;
                    text-decoration: none;
                  }
                  @include respond-to(medium-screens) {
                    color: $white-color;
                  }
                  @include respond-to(handhelds) {
                    color: $white-color;
                  }
                }
              }
            }
            .sub-menu-two {
              list-style: none;
              position: absolute;
              left: 300px;
              text-align: left;
              top: 50px;

              @include respond-to(medium-screens) {
                background: $theme-color;
                color: $white-color;
                position: relative;
                left: 0;
                top: 5px;
                padding: 1px 15px;
                border-radius: 1px;
              }
              @include respond-to(handhelds) {
                background: $theme-color;
                color: $white-color;
                position: relative;
                left: 0;
                padding: 1px 15px;
                border-radius: 1px;
              }
              h4 {
                margin-bottom: 5px;
              }
              li {
                text-align: left;
                margin: 10px 0;
                float: left;
                width: 34%;
                @include respond-to(medium-screens) {
                  float: none;
                  width: auto;
                  color: $white-color;
                }
                @include respond-to(handhelds) {
                  float: none;
                  width: auto;
                  color: $white-color;
                }
                a {
                  color: $black-color;
                  font-size: 13px;
                  text-decoration: none;
                  text-transform: capitalize;
                  padding: 10px 0;
                  &:hover {
                    color: $theme-color;
                    text-decoration: none;
                  }
                  @include respond-to(medium-screens) {
                    color: $white-color;
                  }
                  @include respond-to(handhelds) {
                    color: $white-color;
                  }
                }
              }
            }
            .card {
              position: absolute;
              right: 300px;
              top: 50px;
              @include respond-to(medium-screens) {
                display: none;
              }
              @include respond-to(handhelds) {
                display: none;
              }
              &:last-of-type {
                right: 100px;
              }
              img {
                height: 170px;
              }
              h3 {
                margin: 5px;
              }
              figcaption {
                font-size: 13px;
                margin: 10px 0;
                text-align: center;
              }
            }
          }
        }
        li.menu-item.active {
          > a {
            border-bottom: 3px solid $theme-color;
          }
        }
      }
    }
  }
  /*********
  Menu End
************/

  /*************
  Slider
   ***********/
  section.landing {
    background: $white-color;
    min-height: 400px;
    padding-top: 50px;
    margin-right: -10px;
    margin-left: -10px;
    @include respond-to(handhelds) {
      min-height: 1px;
    }
    @include respond-to(medium-screens) {
      min-height: 1px;
    }
    .carousel-container {
      width: 60%;
      float: right;
      position: relative;
      @include respond-to(medium-screens) {
        float: none;
        margin: auto;
      }
      @include respond-to(handhelds) {
        float: none;
        margin: auto;
      }
      .owl-carousel {
        div {
          img {
            width: 80%;
            @include respond-to(handhelds) {
              width: 100%;
            }
            @include respond-to(medium-screens) {
              width: 100%;
            }
          }
        }
      }
      .rect {
        position: absolute;
        width: 80%;
        height: 205px;
        left: -74px;
        top: 61%;
        background: #d1cccb;
        mix-blend-mode: normal;
        opacity: 0.6;
        @include respond-to(medium-screens) {
          display: none;
        }
        @include respond-to(handhelds) {
          display: none;
        }
      }
    }
    .carousel-side {
      float: left;
      width: 40%;
      text-align: center;
      @include respond-to(medium-screens) {
        width: 100%;
        margin-bottom: 45px;
      }
      @include respond-to(handhelds) {
        width: 100%;
        margin-bottom: 45px;
      }
      h4 {
        letter-spacing: 12.381px;
        text-transform: capitalize;
        font-weight: normal;
        @include respond-to(medium-screens) {
          font-size: 25px;
        }
        @include respond-to(handhelds) {
          font-size: 25px;
        }
        span {
          letter-spacing: 0;
          vertical-align: super;
          font-weight: bold;
          position: absolute;
          left: 30%;
          z-index: 10;
          @include respond-to(medium-screens) {
            display: none;
          }
          @include respond-to(handhelds) {
            display: none;
          }
        }
      }
      h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 82px;
        text-transform: uppercase;
        @include respond-to(medium-screens) {
          font-size: 36px;
        }
        @include respond-to(handhelds) {
          font-size: 36px;
        }
      }
      button {
        background: $theme-color;
        display: block;
        margin: auto;
        text-transform: capitalize;
        border: 0;
        outline: 0;
        color: $white-color;
        padding: 10px 40px;
        font-size: 15px;
        font-weight: normal;
        border-radius: 1px;
        cursor: pointer;
      }
    }
  }
  /*************
  slider End
   /*************/

  /*****************
  Latest Section
 *****************/
  .latest {
    background: $dark-white;
    margin-left: -10px;
    margin-right: -10px;
    min-height: 600px;
    padding: 45px 100px;
    padding-right: 0;
    position: relative;
    text-align: center;
    &:last-of-type {
      background: $dark-white;
    }
    @include respond-to(wide-screens) {
      padding: 15px;
      min-height: 400px;
    }
    @include respond-to(handhelds) {
      padding: 45px;
      min-height: 1px;
    }
    @include respond-to(medium-screens) {
      padding: 45px;
      min-height: 1px;
    }

    .card-big {
      float: left;
      margin-left: 60px;
      width: 40%;
      @include respond-to(wide-screens) {
        margin-left: 0;
        width: 45%;
      }
      @include respond-to(handhelds) {
        float: none;
        margin-bottom: 40px;
        margin-left: 0;
        width: 100%;
      }
      @include respond-to(medium-screens) {
        float: none;
        margin-bottom: 40px;
        margin-left: 0;
        width: 100%;
      }

      img {
        width: 80%;
        @include respond-to(handhelds) {
          width: 100%;
        }
        @include respond-to(medium-screens) {
          width: 100%;
        }
      }

      figcaption {
        h4 {
          font-style: normal;
          font-weight: bold;
          font-size: 21px;
          line-height: 34px;
          text-align: center;
          text-transform: uppercase;
          @include respond-to(handhelds) {
            margin: 0;
          }
          @include respond-to(medium-screens) {
            margin: 0;
          }
        }
        a {
          text-decoration: none;
          font-size: 17px;
          line-height: 28px;
          color: $black-color;
          text-transform: capitalize;
          &:hover {
            text-decoration: none;
            color: $theme-color;
          }
          span {
            vertical-align: super;
          }
        }
      }
      span.line {
        border-bottom: 9px solid $black-color;
        color: rgba(255, 255, 255, 0);
        position: absolute;
        top: 70%;
        right: 35%;
        @include respond-to(handhelds) {
          display: none;
        }
        @include respond-to(medium-screens) {
          display: none;
        }
      }
    }
    em.circle {
      border: 6px solid $black-color;
      padding: 38px;
      border-radius: 50%;
      position: absolute;
      right: 9%;
      top: 11%;
      @include respond-to(handhelds) {
        display: none;
      }
      @include respond-to(medium-screens) {
        display: none;
      }
    }
  }
  .latest.white {
    background: $white-color;
  }
  /*****************
  end of Latest Section
 *****************/
  .quote {
    position: relative;
    padding: 25px;
    text-align: center;
    background: $white-color;
    font-size: 43px;
    margin-right: -10px;
    margin-left: -10px;
    br {
      @include respond-to(handhelds) {
        display: none;
      }
      @include respond-to(medium-screens) {
        display: none;
      }
    }
    span {
      border-bottom: 9px solid rgba($black-color, 0.06);
      color: rgba($white-color, 0);
      position: relative;
      @include respond-to(handhelds) {
        display: none;
      }
      @include respond-to(medium-screens) {
        display: none;
      }
      &:first-of-type {
        left: -250px;
        top: 43px;
      }
      &:last-of-type {
        top: -70px;
        left: 105px;
      }
    }
    div.text {
      text-align: center;
      em {
        display: none;
        color: $theme-color;
        margin: 5px;
        &:last-of-type {
          transform: rotateY(180deg);
        }
        @include respond-to(handhelds) {
          display: inline-block;
        }
        @include respond-to(medium-screens) {
          display: inline-block;
        }
        @include respond-to(wide-screens) {
          display: inline-block;
        }
      }
    }
    p {
      font-weight: normal;
      font-size: 21px;
      line-height: 34px;
      text-align: center;

      color: #cdc1c0;
    }
    img {
      display: inline;
      &:first-of-type {
        transform: rotate(10deg);
        top: 30px;
        position: relative;
        left: -30%;
        @include respond-to(handhelds) {
          display: none;
        }
        @include respond-to(medium-screens) {
          display: none;
        }
        @include respond-to(wide-screens) {
          display: none;
        }
      }
      &:last-of-type {
        transform: rotateY(180deg);
        top: -85px;
        position: relative;
        right: -26%;
        @include respond-to(handhelds) {
          display: none;
        }
        @include respond-to(medium-screens) {
          display: none;
        }
        @include respond-to(wide-screens) {
          display: none;
        }
      }
    }
  }
  .vectoria {
    background: #fbf9f9;
    min-height: 560px;
    padding: 35px;
    margin-right: -10px;
    margin-left: -10px;
    @include respond-to(handhelds) {
      min-height: 1px;
    }
    @include respond-to(medium-screens) {
      min-height: 1px;
    }
    .right-div {
      width: 40%;
      float: right;
      padding: 25px;
      text-align: left;
      @include respond-to(handhelds) {
        width: 100%;
        float: none;
      }
      @include respond-to(medium-screens) {
        width: 100%;
        float: none;
      }
      @include respond-to(wide-screens) {
        padding: 0;
      }
      h2 {
        font-size: 43px;
        line-height: 71px;
        text-transform: uppercase;
      }
      p {
        font-size: 14px;
        line-height: 23px;
      }
      button {
        background: $theme-color;
        color: $white-color;
        border: none;
        padding: 10px 15px;
      }
    }
    .left-div {
      width: 55%;
      float: left;
      position: relative;
      @include respond-to(handhelds) {
        width: 100%;
        float: none;
      }
      @include respond-to(medium-screens) {
        width: 100%;
        float: none;
      }
      img {
        text-align: center;
        margin: 0 15px;
        width: 37%;
        @include respond-to(handhelds) {
          width: 100%;
          margin: 15px auto;
        }
        @include respond-to(medium-screens) {
          width: 100%;
          margin: 15px auto;
        }
        &:first-of-type {
          position: relative;
          top: 65px;
          @include respond-to(handhelds) {
            top: 0;
          }
          @include respond-to(medium-screens) {
            top: 0;
          }
        }
      }
      span {
        border-bottom: 9px solid rgba($black-color, 0.06);
        color: rgba($white-color, 0);
        position: absolute;
        top: 61%;
        left: 35%;
        @include respond-to(handhelds) {
          display: none;
        }
        @include respond-to(medium-screens) {
          display: none;
        }
      }
      h4 {
        font-size: 20px;
        line-height: 33px;
        letter-spacing: 12.381px;
        position: relative;
        top: -15px;
        z-index: 100;
        text-align: center;
        font-weight: normal;
      }
    }
    &:last-of-type {
      background: $white-color;
      .left-div {
        img.lady {
          width: 60%;
          z-index: 10;
          float: right;
          @include respond-to(handhelds) {
            float: none;
            width: 100%;
          }
          @include respond-to(medium-screens) {
            float: none;
            width: 100%;
          }
        }
        img.mom {
          width: 10%;
          position: absolute;
          left: 30%;
          z-index: 100;
          top: 42%;
        }
        .rect {
          position: absolute;
          width: 50%;
          height: 180px;
          left: 55px;
          top: 76%;
          background: #d1cccb;
          mix-blend-mode: normal;
          opacity: 0.6;
          @include respond-to(medium-screens) {
            display: none;
          }
          @include respond-to(handhelds) {
            display: none;
          }
        }
      }
    }
  }
  .contact {
    background: url("./img/bg.png") $white-color;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    margin: auto;
    background-size: 95%;
    text-align: center;
    margin-right: -10px;
    margin-left: -10px;
    position: relative;
    @include respond-to(handhelds) {
      min-height: 1px;
      background-size: cover;
    }
    @include respond-to(medium-screens) {
      min-height: 1px;
      background-size: cover;
    }
    img.O {
      position: absolute;
      right: -15px;
      @include respond-to(handhelds) {
        display: none;
      }
      @include respond-to(medium-screens) {
        display: none;
      }
    }
    .line {
      border: 2px solid rgba(255, 255, 255, 0.36);
      color: rgba(255, 255, 255, 0);
      position: absolute;
      top: 90%;
      left: -2%;
      z-index: 100;
      padding: 0;
      height: 7.5px;
      @include respond-to(handhelds) {
        display: none;
      }
      @include respond-to(medium-screens) {
        display: none;
      }
    }
    .inner {
      padding: 75px 150px;
      @include respond-to(handhelds) {
        padding: 25px;
      }
      @include respond-to(medium-screens) {
        padding: 25px;
      }
      h2 {
        font-size: 43px;
        line-height: 1;
        text-align: center;
        color: $white-color;
        text-transform: uppercase;
      }
      p {
        text-align: center;
        color: $white-color;
        font-size: 21px;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 35px;
      }
      .select {
        padding: 0 100px;
        @include respond-to(wide-screens) {
          padding: 0;
        }
        @include respond-to(handhelds) {
          padding: 25px;
        }
        @include respond-to(medium-screens) {
          padding: 25px;
        }

        .dropdown {
          position: relative;
          float: left;
          margin-right: 5px;
          @include respond-to(wide-screens) {
            width: 50%;
          }
          @include respond-to(handhelds) {
            float: none;
            width: 100%;
          }
          @include respond-to(medium-screens) {
            float: none;
            width: 100%;
          }
          &:hover {
            .dropdown-content {
              display: block;
            }
          }
          .dropbtn {
            background: $white-color;
            color: $black-color;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 3px;
            @include respond-to(wide-screens) {
              width: 100%;
            }
            em {
              margin-left: 60px;
              @include respond-to(handhelds) {
                margin: 0 5px;
              }
              @include respond-to(medium-screens) {
                margin: 0 5px;
              }
            }
            strong {
              margin-right: 10px;
            }
            @include respond-to(handhelds) {
              width: 100%;
              margin: 5px auto;
            }
            @include respond-to(medium-screens) {
              width: 100%;
              margin: 5px auto;
            }
          }
          .transperant {
            background: rgba(255, 247, 247, 0.5);
          }
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            width: 100%;
            margin-right: 5px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            a {
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              &:hover {
                background-color: #f1f1f1;
              }
            }
          }
        }
        .explore {
          border: 0;
          background: $theme-color;
          color: $white-color;
          padding: 15px 75px;
          border-radius: 1px;
          cursor: pointer;
          font-size: 18px;
        }
      }
    }
  }
  .shop-now {
    background: #fbf9f9;
    min-height: 560px;
    padding: 35px 0;
    margin-right: -10px;
    margin-left: -10px;
    @include respond-to(handhelds) {
      min-height: 1px;
    }
    @include respond-to(medium-screens) {
      min-height: 1px;
    }
    h5 {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      margin: 40px;
    }
    h6 {
      font-weight: normal;
      font-size: 20px;
      line-height: 33px;
      letter-spacing: 12.381px;
      @include respond-to(handhelds) {
        display: none;
      }
      @include respond-to(medium-screens) {
        display: none;
      }
      span {
        vertical-align: super;
        letter-spacing: 0;
        margin: 0 40px;
        margin-right: 30px;
      }
    }
    figure {
      margin: 0;
    }
    .tile {
      width: 20%;
      height: 350px;
      margin: auto;
      position: relative;
      float: left;
      margin: 0 38px;
      @include respond-to(wide-screens) {
        width: 22%;
        margin: 0 15px;
      }
      @include respond-to(handhelds) {
        margin: 10px auto;
        width: 100%;
        float: none;
      }
      @include respond-to(medium-screens) {
        margin: 10px auto;
        width: 100%;
        float: none;
      }
      .front,
      .back {
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        text-align: center;
        @include respond-to(wide-screens) {
          height: auto;
          position: relative;
        }
      }
      h3,
      p,
      a {
        padding: 0 20px;
      }

      .front {
        background: #fff;
        transition: all 0.5s ease-in-out;
        z-index: 2;
        img {
          height: 350px;
          @include respond-to(wide-screens) {
            height: auto;
            width: auto;
            margin: 15px 0;
          }
        }
        h3 {
          font-size: 2em;
          color: $white-color;
          text-shadow: 0 0 5px #000;
          margin-top: -1.5em;
          margin-bottom: 1.5em;
        }
      }
      .back {
        background: rgba(0, 0, 0, 0.42);
        color: $white-color;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease-in-out;
        h3 {
          font-size: 1.5em;
          color: $white-color;
          margin-top: 1em;
          margin-bottom: 1em;
        }
        a {
          display: block;
          font-size: 15px;
          color: $white-color;
          margin: 25px;
          padding: 25px 0;
          text-decoration: none;
          font-weight: bold;
          margin-top: 65%;
          &:hover {
            text-decoration: none;
          }
          @include respond-to(handhelds) {
            margin: 100px auto;
          }
          @include respond-to(medium-screens) {
            margin: 100px auto;
          }
          span {
            vertical-align: super;
          }
        }
      }
      &:hover {
        .back {
          top: 0;
          z-index: 10;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  footer {
    background: #e5e5e5 url("./img/outline.png") right no-repeat;
    margin-right: -10px;
    margin-left: -10px;
    padding: 35px;
    min-height: 400px;
    border-top: 10px solid $white-color;
    @include respond-to(wide-screens) {
      min-height: 550px;
    }
    @include respond-to(handhelds) {
      min-height: 1px;
    }
    @include respond-to(medium-screens) {
      min-height: 1px;
    }
    .footer {
      .footer-list {
        width: 30%;
        padding: 0;
        float: left;
        margin: auto;
        margin-right: 35px;
        @include respond-to(wide-screens) {
          float: left;
          width: 29%;
          margin-right: 30px;
        }
        @include respond-to(handhelds) {
          float: none;
          width: 100%;
          clear: both;
        }
        @include respond-to(medium-screens) {
          float: none;
          width: 100%;
          clear: both;
        }

        h3 {
          font-style: normal;
          font-weight: bold;
          font-size: 17px;
          line-height: 28px;
          text-align: left;
          margin-left: 25px;
          position: relative;
          @include respond-to(handhelds) {
            margin: 25px 0;
          }
          @include respond-to(medium-screens) {
            margin: 25px 0;
          }
          span {
            border-bottom: 10px solid rgba(0, 0, 0, 0.06);
            color: rgba(255, 255, 255, 0);
            position: absolute;
            top: -9px;
            left: -20px;
            @include respond-to(handhelds) {
              display: none;
            }
            @include respond-to(medium-screens) {
              display: none;
            }
          }
        }

        ul {
          list-style: none;
          li {
            float: left;
            width: 50%;
            margin: 15px 0;

            a {
              text-decoration: none;
              color: $black-color;
              &:hover {
                text-decoration: none;
                color: $theme-color;
              }
            }
          }
        }
        label {
          margin-top: 44px;
          display: block;
        }
        input {
          width: 90%;
          border: 0;
          background: rgba(204, 204, 204, 0);
          border-bottom: 1px solid #7b7878;
          height: 25px;
          transition: all 0.2s linear;
          &:focus {
            border-bottom: 2px outset #7b7878;
            outline: 0;
            background: rgba(187, 127, 131, 0.15);
            + button {
              border-bottom: 2px outset #7b7878;
              background: rgba(187, 127, 131, 0.15);
              height: 29px;
            }
          }
        }
        button {
          border: 0;
          background: rgba(204, 204, 204, 0);
          border-bottom: 1px solid #7b7878;
          height: 28px;
          cursor: pointer;
          &:focus {
            border-bottom: 2px outset #7b7878;
            outline: 0;
          }
          em {
            color: #585656;
            transform: rotate(45deg);
          }
        }
      }
    }
    .second-footer {
      margin-top: 50px;
      text-align: center;
      .footer-list {
        ul {
          li {
            float: none;
            text-align: center;
            width: 100%;
            padding: 0;
            @include respond-to(wide-screens) {
              margin: auto;
            }
            @include respond-to(handhelds) {
              margin-bottom: 40px;
              padding: 0;
            }
            @include respond-to(medium-screens) {
              margin-bottom: 40px;
              padding: 0;
            }
          }
        }
        p {
          display: inline;
          font-weight: normal;
          font-size: 14px;
          line-height: 23px;
          @include respond-to(handhelds) {
            display: block;
            text-align: center;
          }
          @include respond-to(medium-screens) {
            display: block;
            text-align: center;
          }
        }
        a {
          text-decoration: none;
          color: $black-color;
          margin-left: 10px;
          &:hover {
            text-decoration: underline;
            color: $black-color;
          }
        }
        ul.social {
          list-style: none;
          display: inline;
          @include respond-to(handhelds) {
            display: block;
          }
          @include respond-to(medium-screens) {
            display: block;
          }
          li {
            display: inline-block;
            width: auto;
            text-align: center;
            a {
              color: $theme-color;
              border: 2px solid $theme-color;
              text-decoration: none;
              padding: 10px;
              border-radius: 50%;
              margin: 0 5px;
              box-sizing: border-box;
              transition: all 0.3s ease-in;
              &:hover {
                text-decoration: none;
                background: $theme-color;
                color: $white-color;
              }
              em {
                vertical-align: text-top;
                font-size: 20px;
                min-width: 20px;
              }
            }
          }
        }
      }
    }
  }
}

/****************************
overide carousel defaults
****************************/
.owl-nav {
  position: absolute;
  left: -41.5%;
  top: 55%;
  @include respond-to(wide-screens) {
    left: -45.5%;
    top: 65%;
  }
  @include respond-to(medium-screens) {
    position: relative;
    left: 15%;
    top: 0;
  }
  @include respond-to(handhelds) {
    left: -45.5%;
    top: 64%;
  }

  button {
    color: $theme-color;
    border: 1px solid rgba($black-color, 0.5);
    height: 50px;
    width: 50px;
    margin-right: 45px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    @include respond-to(wide-screens) {
      height: 45px;
      width: 45px;
    }
    &:hover {
      border: 1px solid $theme-color;
      em {
        color: $theme-color;
      }
    }
    &:focus {
      outline: 0;
    }
    em {
      font-size: 14px;
      color: rgba($black-color, 0.5);
    }
  }
}

/***************************
Handle Menu in mobile screens
**********************************/

#burger {
  visibility: hidden;
}
@media only screen and (max-width: 768px) {
  input + label {
    position: absolute;
    top: 80px;
    height: auto;
    width: auto;
    z-index: 5;
    font-size: 28px;
    display: block;
    margin: auto;
    left: 10px;
  }
  label:hover {
    cursor: pointer;
  }
  /* input:checked + label {
  }*/
  input ~ nav {
    display: none;
    position: fixed !important;
    top: 80px;
    background: $white-color;
    z-index: 100;
    left: 0;
    margin: auto;
    padding: 0;
    .toggle-div {
      position: relative;
    }
  }

  input:checked ~ nav {
    display: block;
  }
}
