/*


@include respond-to(handhelds) {
      }
      @include respond-to(wide-screens) {
      }
      @include respond-to(medium-screens) {
      }
*/
body {
  font-family: Catamaran, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: visible;
  overflow-x: hidden;
  background: #f2f2f2 !important;
  background: #ffffff;
  /*************
  Menu Start
  *************/
  /*********
  Menu End
************/
  /*************
  Slider
   ***********/
  /*************
  slider End
   /*************/
 /*****************
 Latest Section
*****************/
 /*****************
 end of Latest Section
*****************/ }
  body .clearfix {
    clear: both; }
  body .first-header {
    width: 100%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    background: #000000; }
    @media only screen and (max-width: 320px) {
      body .first-header {
        position: relative; } }
    @media only screen and (max-width: 768px) {
      body .first-header {
        position: relative; } }
    body .first-header h2 {
      font-family: Catamaran;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 23px;
      color: #ffffff;
      text-align: center; }
  body .second-header {
    top: 38px;
    padding: 25px;
    position: relative;
    background: #ffffff;
    margin-right: -10px;
    margin-left: -10px; }
    @media only screen and (max-width: 320px) {
      body .second-header {
        position: relative;
        top: 0;
        text-align: center;
        padding-top: 5px; } }
    @media only screen and (max-width: 768px) {
      body .second-header {
        position: relative;
        top: 0;
        text-align: center;
        padding-top: 5px; } }
    body .second-header .top-left {
      float: left;
      width: 15%; }
      @media only screen and (max-width: 320px) {
        body .second-header .top-left {
          width: 100%;
          float: none;
          position: relative; } }
      @media only screen and (max-width: 768px) {
        body .second-header .top-left {
          width: 100%;
          float: none;
          position: relative; } }
      body .second-header .top-left ul {
        list-style: none; }
        body .second-header .top-left ul li {
          display: inline; }
          body .second-header .top-left ul li a {
            color: #000000;
            text-decoration: none; }
            body .second-header .top-left ul li a:hover {
              text-decoration: none; }
            body .second-header .top-left ul li a em.sympol {
              margin: 0; }
          body .second-header .top-left ul li em {
            margin: 0 5px;
            font-size: 13px; }
    body .second-header .logo {
      position: absolute;
      width: 30%;
      height: 28px;
      left: 30.95%;
      top: calc(50% - 28px / 2 - 1.5px);
      font-family: Catamaran;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 28px;
      /* identical to box height */
      text-align: center;
      text-transform: uppercase;
      color: #000000; }
      @media only screen and (max-width: 320px) {
        body .second-header .logo {
          width: 100%;
          float: none;
          position: relative;
          text-align: center;
          left: 0;
          top: 0;
          height: auto;
          padding: 15px; } }
      @media only screen and (max-width: 768px) {
        body .second-header .logo {
          width: 100%;
          float: none;
          position: relative;
          text-align: center;
          left: 0;
          top: 0;
          height: auto;
          padding: 15px; } }
    body .second-header .top-right {
      width: 35%;
      float: right; }
      @media only screen and (max-width: 320px) {
        body .second-header .top-right {
          width: 100%;
          float: none;
          position: relative; } }
      @media only screen and (max-width: 768px) {
        body .second-header .top-right {
          width: 100%;
          float: none;
          position: relative; } }
      body .second-header .top-right ul.my-account {
        list-style: none;
        float: left; }
        @media only screen and (max-width: 320px) {
          body .second-header .top-right ul.my-account {
            float: none; } }
        @media only screen and (max-width: 768px) {
          body .second-header .top-right ul.my-account {
            float: none; } }
        body .second-header .top-right ul.my-account li {
          display: inline; }
          body .second-header .top-right ul.my-account li a {
            color: #000000;
            text-decoration: none; }
            body .second-header .top-right ul.my-account li a:hover {
              text-decoration: none; }
            body .second-header .top-right ul.my-account li a em.sympol {
              margin: 0; }
          body .second-header .top-right ul.my-account li em {
            margin: 0 5px;
            font-size: 13px; }
      body .second-header .top-right ul.actions {
        list-style: none;
        float: right; }
        @media only screen and (max-width: 320px) {
          body .second-header .top-right ul.actions {
            float: none;
            padding-top: 15px; } }
        @media only screen and (max-width: 768px) {
          body .second-header .top-right ul.actions {
            float: none;
            padding-top: 15px; } }
        body .second-header .top-right ul.actions li {
          display: inline-block; }
          body .second-header .top-right ul.actions li a {
            color: #b4777b;
            background: #ffffff;
            border: 2px solid #b4777b;
            text-decoration: none;
            padding: 10px;
            border-radius: 50%;
            margin: 0 5px;
            box-sizing: border-box;
            transition: all 0.3s ease-in; }
            body .second-header .top-right ul.actions li a:hover {
              text-decoration: none;
              background: #b4777b;
              color: #ffffff; }
            body .second-header .top-right ul.actions li a em {
              vertical-align: text-top;
              font-size: 20px; }
  body .container {
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px; }
    @media only screen and (max-width: 320px) {
      body .container {
        width: 100%; } }
    @media only screen and (max-width: 768px) {
      body .container {
        width: 100%; } }
    @media only screen and (max-width: 1025px) {
      body .container {
        padding: 0;
        width: 100%; } }
  body section.menu {
    min-height: 110px;
    background: #ffffff;
    margin-right: -10px;
    margin-left: -10px; }
    @media only screen and (max-width: 320px) {
      body section.menu {
        min-height: 1px; } }
    @media only screen and (max-width: 768px) {
      body section.menu {
        min-height: 1px; } }
    body section.menu nav {
      position: relative;
      margin-top: 45px;
      text-align: center; }
      @media only screen and (max-width: 320px) {
        body section.menu nav {
          text-align: left;
          border: 1px solid #b5797d;
          padding: 0;
          margin-left: 0;
          margin-right: 0; } }
      @media only screen and (max-width: 768px) {
        body section.menu nav {
          text-align: left;
          border: 1px solid #b5797d;
          padding: 0;
          margin-left: 0;
          margin-right: 0; } }
      body section.menu nav .menu-list {
        list-style: none; }
        @media only screen and (max-width: 1025px) {
          body section.menu nav .menu-list {
            text-align: left; } }
        body section.menu nav .menu-list li.menu-item {
          display: inline-block;
          margin: 0 20px;
        /*  &:hover > .toggle-div {
        display: block !important;
      }*/ }
          @media only screen and (max-width: 1025px) {
            body section.menu nav .menu-list li.menu-item {
              margin: 0 10px; } }
          @media only screen and (max-width: 320px) {
            body section.menu nav .menu-list li.menu-item {
              display: block;
              margin: 20px; } }
          @media only screen and (max-width: 768px) {
            body section.menu nav .menu-list li.menu-item {
              display: block;
              margin: 20px; } }
          body section.menu nav .menu-list li.menu-item:last-of-type a {
            background: #000000;
            color: #ffffff; }
            body section.menu nav .menu-list li.menu-item:last-of-type a:hover {
              color: #ffffff;
              text-decoration: none;
              border-bottom: 3px solid #ffffff; }
          body section.menu nav .menu-list li.menu-item > a {
            color: #000000;
            text-decoration: none;
            text-transform: capitalize;
            border-bottom: 3px solid #ffffff;
            padding: 10px;
            transition: all 0.4s ease-in; }
            body section.menu nav .menu-list li.menu-item > a:hover {
              color: #000000;
              text-decoration: none;
              border-bottom: 3px solid #b4777b; }
          body section.menu nav .menu-list li.menu-item .toggle-div {
            display: none;
            min-height: 350px;
            z-index: 10;
            background: white; }
            body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu {
              list-style: none;
              position: absolute;
              text-align: left;
              left: 100px;
              top: 50px; }
              @media only screen and (max-width: 768px) {
                body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu {
                  background: #b4777b;
                  color: #ffffff;
                  position: relative;
                  left: 0;
                  top: 10px;
                  padding: 1px 15px;
                  border-radius: 1px; } }
              @media only screen and (max-width: 320px) {
                body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu {
                  background: #b4777b;
                  color: #ffffff;
                  position: relative;
                  left: 0;
                  padding: 1px 15px;
                  border-radius: 1px; } }
              body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu h4 {
                margin-bottom: 5px; }
              body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu li {
                text-align: left;
                margin: 10px 0;
                float: left;
                width: 55%; }
                @media only screen and (max-width: 768px) {
                  body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu li {
                    float: none;
                    width: auto;
                    color: #ffffff; } }
                @media only screen and (max-width: 320px) {
                  body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu li {
                    float: none;
                    width: auto;
                    color: #ffffff; } }
                body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu li a {
                  color: #000000;
                  font-size: 13px;
                  text-decoration: none;
                  text-transform: capitalize;
                  padding: 10px 0; }
                  body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu li a:hover {
                    color: #b4777b;
                    text-decoration: none; }
                  @media only screen and (max-width: 768px) {
                    body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu li a {
                      color: #ffffff; } }
                  @media only screen and (max-width: 320px) {
                    body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu li a {
                      color: #ffffff; } }
            body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu-two {
              list-style: none;
              position: absolute;
              left: 300px;
              text-align: left;
              top: 50px; }
              @media only screen and (max-width: 768px) {
                body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu-two {
                  background: #b4777b;
                  color: #ffffff;
                  position: relative;
                  left: 0;
                  top: 5px;
                  padding: 1px 15px;
                  border-radius: 1px; } }
              @media only screen and (max-width: 320px) {
                body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu-two {
                  background: #b4777b;
                  color: #ffffff;
                  position: relative;
                  left: 0;
                  padding: 1px 15px;
                  border-radius: 1px; } }
              body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu-two h4 {
                margin-bottom: 5px; }
              body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu-two li {
                text-align: left;
                margin: 10px 0;
                float: left;
                width: 34%; }
                @media only screen and (max-width: 768px) {
                  body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu-two li {
                    float: none;
                    width: auto;
                    color: #ffffff; } }
                @media only screen and (max-width: 320px) {
                  body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu-two li {
                    float: none;
                    width: auto;
                    color: #ffffff; } }
                body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu-two li a {
                  color: #000000;
                  font-size: 13px;
                  text-decoration: none;
                  text-transform: capitalize;
                  padding: 10px 0; }
                  body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu-two li a:hover {
                    color: #b4777b;
                    text-decoration: none; }
                  @media only screen and (max-width: 768px) {
                    body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu-two li a {
                      color: #ffffff; } }
                  @media only screen and (max-width: 320px) {
                    body section.menu nav .menu-list li.menu-item .toggle-div .sub-menu-two li a {
                      color: #ffffff; } }
            body section.menu nav .menu-list li.menu-item .toggle-div .card {
              position: absolute;
              right: 300px;
              top: 50px; }
              @media only screen and (max-width: 768px) {
                body section.menu nav .menu-list li.menu-item .toggle-div .card {
                  display: none; } }
              @media only screen and (max-width: 320px) {
                body section.menu nav .menu-list li.menu-item .toggle-div .card {
                  display: none; } }
              body section.menu nav .menu-list li.menu-item .toggle-div .card:last-of-type {
                right: 100px; }
              body section.menu nav .menu-list li.menu-item .toggle-div .card img {
                height: 170px; }
              body section.menu nav .menu-list li.menu-item .toggle-div .card h3 {
                margin: 5px; }
              body section.menu nav .menu-list li.menu-item .toggle-div .card figcaption {
                font-size: 13px;
                margin: 10px 0;
                text-align: center; }
        body section.menu nav .menu-list li.menu-item.active > a {
          border-bottom: 3px solid #b4777b; }
  body section.landing {
    background: #ffffff;
    min-height: 400px;
    padding-top: 50px;
    margin-right: -10px;
    margin-left: -10px; }
    @media only screen and (max-width: 320px) {
      body section.landing {
        min-height: 1px; } }
    @media only screen and (max-width: 768px) {
      body section.landing {
        min-height: 1px; } }
    body section.landing .carousel-container {
      width: 60%;
      float: right;
      position: relative; }
      @media only screen and (max-width: 768px) {
        body section.landing .carousel-container {
          float: none;
          margin: auto; } }
      @media only screen and (max-width: 320px) {
        body section.landing .carousel-container {
          float: none;
          margin: auto; } }
      body section.landing .carousel-container .owl-carousel div img {
        width: 80%; }
        @media only screen and (max-width: 320px) {
          body section.landing .carousel-container .owl-carousel div img {
            width: 100%; } }
        @media only screen and (max-width: 768px) {
          body section.landing .carousel-container .owl-carousel div img {
            width: 100%; } }
      body section.landing .carousel-container .rect {
        position: absolute;
        width: 80%;
        height: 205px;
        left: -74px;
        top: 61%;
        background: #d1cccb;
        mix-blend-mode: normal;
        opacity: 0.6; }
        @media only screen and (max-width: 768px) {
          body section.landing .carousel-container .rect {
            display: none; } }
        @media only screen and (max-width: 320px) {
          body section.landing .carousel-container .rect {
            display: none; } }
    body section.landing .carousel-side {
      float: left;
      width: 40%;
      text-align: center; }
      @media only screen and (max-width: 768px) {
        body section.landing .carousel-side {
          width: 100%;
          margin-bottom: 45px; } }
      @media only screen and (max-width: 320px) {
        body section.landing .carousel-side {
          width: 100%;
          margin-bottom: 45px; } }
      body section.landing .carousel-side h4 {
        letter-spacing: 12.381px;
        text-transform: capitalize;
        font-weight: normal; }
        @media only screen and (max-width: 768px) {
          body section.landing .carousel-side h4 {
            font-size: 25px; } }
        @media only screen and (max-width: 320px) {
          body section.landing .carousel-side h4 {
            font-size: 25px; } }
        body section.landing .carousel-side h4 span {
          letter-spacing: 0;
          vertical-align: super;
          font-weight: bold;
          position: absolute;
          left: 30%;
          z-index: 10; }
          @media only screen and (max-width: 768px) {
            body section.landing .carousel-side h4 span {
              display: none; } }
          @media only screen and (max-width: 320px) {
            body section.landing .carousel-side h4 span {
              display: none; } }
      body section.landing .carousel-side h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 82px;
        text-transform: uppercase; }
        @media only screen and (max-width: 768px) {
          body section.landing .carousel-side h1 {
            font-size: 36px; } }
        @media only screen and (max-width: 320px) {
          body section.landing .carousel-side h1 {
            font-size: 36px; } }
      body section.landing .carousel-side button {
        background: #b4777b;
        display: block;
        margin: auto;
        text-transform: capitalize;
        border: 0;
        outline: 0;
        color: #ffffff;
        padding: 10px 40px;
        font-size: 15px;
        font-weight: normal;
        border-radius: 1px;
        cursor: pointer; }
  body .latest {
    background: #f2f2f2;
    margin-left: -10px;
    margin-right: -10px;
    min-height: 600px;
    padding: 45px 100px;
    padding-right: 0;
    position: relative;
    text-align: center; }
    body .latest:last-of-type {
      background: #f2f2f2; }
    @media only screen and (max-width: 1025px) {
      body .latest {
        padding: 15px;
        min-height: 400px; } }
    @media only screen and (max-width: 320px) {
      body .latest {
        padding: 45px;
        min-height: 1px; } }
    @media only screen and (max-width: 768px) {
      body .latest {
        padding: 45px;
        min-height: 1px; } }
    body .latest .card-big {
      float: left;
      margin-left: 60px;
      width: 40%; }
      @media only screen and (max-width: 1025px) {
        body .latest .card-big {
          margin-left: 0;
          width: 45%; } }
      @media only screen and (max-width: 320px) {
        body .latest .card-big {
          float: none;
          margin-bottom: 40px;
          margin-left: 0;
          width: 100%; } }
      @media only screen and (max-width: 768px) {
        body .latest .card-big {
          float: none;
          margin-bottom: 40px;
          margin-left: 0;
          width: 100%; } }
      body .latest .card-big img {
        width: 80%; }
        @media only screen and (max-width: 320px) {
          body .latest .card-big img {
            width: 100%; } }
        @media only screen and (max-width: 768px) {
          body .latest .card-big img {
            width: 100%; } }
      body .latest .card-big figcaption h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 34px;
        text-align: center;
        text-transform: uppercase; }
        @media only screen and (max-width: 320px) {
          body .latest .card-big figcaption h4 {
            margin: 0; } }
        @media only screen and (max-width: 768px) {
          body .latest .card-big figcaption h4 {
            margin: 0; } }
      body .latest .card-big figcaption a {
        text-decoration: none;
        font-size: 17px;
        line-height: 28px;
        color: #000000; }
        body .latest .card-big figcaption a:hover {
          text-decoration: none;
          color: #b4777b; }
        body .latest .card-big figcaption a span {
          vertical-align: super; }
      body .latest .card-big span.line {
        border-bottom: 9px solid #000000;
        color: rgba(255, 255, 255, 0);
        position: absolute;
        top: 70%;
        right: 35%; }
        @media only screen and (max-width: 320px) {
          body .latest .card-big span.line {
            display: none; } }
        @media only screen and (max-width: 768px) {
          body .latest .card-big span.line {
            display: none; } }
    body .latest em.circle {
      border: 6px solid #000000;
      padding: 38px;
      border-radius: 50%;
      position: absolute;
      right: 9%;
      top: 11%; }
      @media only screen and (max-width: 320px) {
        body .latest em.circle {
          display: none; } }
      @media only screen and (max-width: 768px) {
        body .latest em.circle {
          display: none; } }
  body .latest.white {
    background: #ffffff; }
  body .quote {
    position: relative;
    padding: 25px;
    text-align: center;
    background: #ffffff;
    font-size: 43px;
    margin-right: -10px;
    margin-left: -10px; }
    @media only screen and (max-width: 320px) {
      body .quote br {
        display: none; } }
    @media only screen and (max-width: 768px) {
      body .quote br {
        display: none; } }
    body .quote span {
      border-bottom: 9px solid rgba(0, 0, 0, 0.06);
      color: rgba(255, 255, 255, 0);
      position: relative; }
      @media only screen and (max-width: 320px) {
        body .quote span {
          display: none; } }
      @media only screen and (max-width: 768px) {
        body .quote span {
          display: none; } }
      body .quote span:first-of-type {
        left: 170px;
        top: -15px; }
      body .quote span:last-of-type {
        left: -200px;
        top: -15px; }
    body .quote p {
      font-weight: normal;
      font-size: 21px;
      line-height: 34px;
      text-align: center;
      color: #cdc1c0; }
    body .quote img {
      display: inline; }
      body .quote img:first-of-type {
        transform: rotate(10deg);
        top: -35px;
        position: relative;
        left: 10px; }
      body .quote img:last-of-type {
        transform: rotate(-210deg);
        top: -20px;
        position: relative;
        left: -10px; }
  body .vectoria {
    background: #fbf9f9;
    min-height: 560px;
    padding: 35px;
    margin-right: -10px;
    margin-left: -10px; }
    @media only screen and (max-width: 320px) {
      body .vectoria {
        min-height: 1px; } }
    @media only screen and (max-width: 768px) {
      body .vectoria {
        min-height: 1px; } }
    body .vectoria .right-div {
      width: 40%;
      float: right;
      padding: 25px;
      text-align: left; }
      @media only screen and (max-width: 320px) {
        body .vectoria .right-div {
          width: 100%;
          float: none; } }
      @media only screen and (max-width: 768px) {
        body .vectoria .right-div {
          width: 100%;
          float: none; } }
      @media only screen and (max-width: 1025px) {
        body .vectoria .right-div {
          padding: 0; } }
      body .vectoria .right-div h2 {
        font-size: 43px;
        line-height: 71px;
        text-transform: uppercase; }
      body .vectoria .right-div p {
        font-size: 14px;
        line-height: 23px; }
      body .vectoria .right-div button {
        background: #b4777b;
        color: #ffffff;
        border: none;
        padding: 10px 15px; }
    body .vectoria .left-div {
      width: 55%;
      float: left;
      position: relative; }
      @media only screen and (max-width: 320px) {
        body .vectoria .left-div {
          width: 100%;
          float: none; } }
      @media only screen and (max-width: 768px) {
        body .vectoria .left-div {
          width: 100%;
          float: none; } }
      body .vectoria .left-div img {
        text-align: center;
        margin: 0 15px;
        width: 37%; }
        @media only screen and (max-width: 320px) {
          body .vectoria .left-div img {
            width: 100%;
            margin: 15px auto; } }
        @media only screen and (max-width: 768px) {
          body .vectoria .left-div img {
            width: 100%;
            margin: 15px auto; } }
        body .vectoria .left-div img:first-of-type {
          position: relative;
          top: 65px; }
          @media only screen and (max-width: 320px) {
            body .vectoria .left-div img:first-of-type {
              top: 0; } }
          @media only screen and (max-width: 768px) {
            body .vectoria .left-div img:first-of-type {
              top: 0; } }
      body .vectoria .left-div span {
        border-bottom: 9px solid rgba(0, 0, 0, 0.06);
        color: rgba(255, 255, 255, 0);
        position: absolute;
        top: 61%;
        left: 35%; }
        @media only screen and (max-width: 320px) {
          body .vectoria .left-div span {
            display: none; } }
        @media only screen and (max-width: 768px) {
          body .vectoria .left-div span {
            display: none; } }
      body .vectoria .left-div h4 {
        font-size: 20px;
        line-height: 33px;
        letter-spacing: 12.381px;
        position: relative;
        top: -15px;
        z-index: 100;
        text-align: center;
        font-weight: normal; }
    body .vectoria:last-of-type {
      background: #ffffff; }
      body .vectoria:last-of-type .left-div img.lady {
        width: 60%;
        z-index: 10;
        float: right; }
        @media only screen and (max-width: 320px) {
          body .vectoria:last-of-type .left-div img.lady {
            float: none;
            width: 100%; } }
        @media only screen and (max-width: 768px) {
          body .vectoria:last-of-type .left-div img.lady {
            float: none;
            width: 100%; } }
      body .vectoria:last-of-type .left-div img.mom {
        width: 10%;
        position: absolute;
        left: 30%;
        z-index: 100;
        top: 42%; }
      body .vectoria:last-of-type .left-div .rect {
        position: absolute;
        width: 50%;
        height: 180px;
        left: 55px;
        top: 76%;
        background: #d1cccb;
        mix-blend-mode: normal;
        opacity: 0.6; }
        @media only screen and (max-width: 768px) {
          body .vectoria:last-of-type .left-div .rect {
            display: none; } }
        @media only screen and (max-width: 320px) {
          body .vectoria:last-of-type .left-div .rect {
            display: none; } }
  body .contact {
    background: url("./img/bg.png") #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    margin: auto;
    background-size: 95%;
    text-align: center;
    margin-right: -10px;
    margin-left: -10px;
    position: relative; }
    @media only screen and (max-width: 320px) {
      body .contact {
        min-height: 1px;
        background-size: cover; } }
    @media only screen and (max-width: 768px) {
      body .contact {
        min-height: 1px;
        background-size: cover; } }
    body .contact img.O {
      position: absolute;
      right: -15px; }
      @media only screen and (max-width: 320px) {
        body .contact img.O {
          display: none; } }
      @media only screen and (max-width: 768px) {
        body .contact img.O {
          display: none; } }
    body .contact .line {
      border: 2px solid rgba(255, 255, 255, 0.36);
      color: rgba(255, 255, 255, 0);
      position: absolute;
      top: 90%;
      left: -2%;
      z-index: 100;
      padding: 0;
      height: 7.5px; }
      @media only screen and (max-width: 320px) {
        body .contact .line {
          display: none; } }
      @media only screen and (max-width: 768px) {
        body .contact .line {
          display: none; } }
    body .contact .inner {
      padding: 75px 150px; }
      @media only screen and (max-width: 320px) {
        body .contact .inner {
          padding: 25px; } }
      @media only screen and (max-width: 768px) {
        body .contact .inner {
          padding: 25px; } }
      body .contact .inner h2 {
        font-size: 43px;
        line-height: 1;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase; }
      body .contact .inner p {
        text-align: center;
        color: #ffffff;
        font-size: 21px;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 35px; }
      body .contact .inner .select {
        padding: 0 100px; }
        @media only screen and (max-width: 1025px) {
          body .contact .inner .select {
            padding: 0; } }
        @media only screen and (max-width: 320px) {
          body .contact .inner .select {
            padding: 25px; } }
        @media only screen and (max-width: 768px) {
          body .contact .inner .select {
            padding: 25px; } }
        body .contact .inner .select .dropdown {
          position: relative;
          float: left;
          margin-right: 5px; }
          @media only screen and (max-width: 1025px) {
            body .contact .inner .select .dropdown {
              width: 50%; } }
          @media only screen and (max-width: 320px) {
            body .contact .inner .select .dropdown {
              float: none;
              width: 100%; } }
          @media only screen and (max-width: 768px) {
            body .contact .inner .select .dropdown {
              float: none;
              width: 100%; } }
          body .contact .inner .select .dropdown:hover .dropdown-content {
            display: block; }
          body .contact .inner .select .dropdown .dropbtn {
            background: #ffffff;
            color: #000000;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 3px; }
            @media only screen and (max-width: 1025px) {
              body .contact .inner .select .dropdown .dropbtn {
                width: 100%; } }
            body .contact .inner .select .dropdown .dropbtn em {
              margin-left: 60px; }
              @media only screen and (max-width: 320px) {
                body .contact .inner .select .dropdown .dropbtn em {
                  margin: 0 5px; } }
              @media only screen and (max-width: 768px) {
                body .contact .inner .select .dropdown .dropbtn em {
                  margin: 0 5px; } }
            body .contact .inner .select .dropdown .dropbtn strong {
              margin-right: 10px; }
            @media only screen and (max-width: 320px) {
              body .contact .inner .select .dropdown .dropbtn {
                width: 100%;
                margin: 5px auto; } }
            @media only screen and (max-width: 768px) {
              body .contact .inner .select .dropdown .dropbtn {
                width: 100%;
                margin: 5px auto; } }
          body .contact .inner .select .dropdown .transperant {
            background: rgba(255, 247, 247, 0.5); }
          body .contact .inner .select .dropdown .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            width: 100%;
            margin-right: 5px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1; }
            body .contact .inner .select .dropdown .dropdown-content a {
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block; }
              body .contact .inner .select .dropdown .dropdown-content a:hover {
                background-color: #f1f1f1; }
        body .contact .inner .select .explore {
          border: 0;
          background: #b4777b;
          color: #ffffff;
          padding: 15px 75px;
          border-radius: 1px;
          cursor: pointer;
          font-size: 18px; }
  body .shop-now {
    background: #fbf9f9;
    min-height: 560px;
    padding: 35px 0;
    margin-right: -10px;
    margin-left: -10px; }
    @media only screen and (max-width: 320px) {
      body .shop-now {
        min-height: 1px; } }
    @media only screen and (max-width: 768px) {
      body .shop-now {
        min-height: 1px; } }
    body .shop-now h5 {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      margin: 40px; }
    body .shop-now h6 {
      font-weight: normal;
      font-size: 20px;
      line-height: 33px;
      letter-spacing: 12.381px; }
      @media only screen and (max-width: 320px) {
        body .shop-now h6 {
          display: none; } }
      @media only screen and (max-width: 768px) {
        body .shop-now h6 {
          display: none; } }
      body .shop-now h6 span {
        vertical-align: super;
        letter-spacing: 0;
        margin: 0 40px;
        margin-right: 30px; }
    body .shop-now figure {
      margin: 0; }
    body .shop-now .tile {
      width: 20%;
      height: 350px;
      margin: auto;
      position: relative;
      float: left;
      margin: 0 38px; }
      @media only screen and (max-width: 1025px) {
        body .shop-now .tile {
          width: 22%;
          margin: 0 15px; } }
      @media only screen and (max-width: 320px) {
        body .shop-now .tile {
          margin: 10px auto;
          width: 100%;
          float: none; } }
      @media only screen and (max-width: 768px) {
        body .shop-now .tile {
          margin: 10px auto;
          width: 100%;
          float: none; } }
      body .shop-now .tile .front,
      body .shop-now .tile .back {
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        text-align: center; }
        @media only screen and (max-width: 1025px) {
          body .shop-now .tile .front,
          body .shop-now .tile .back {
            height: auto;
            position: relative; } }
      body .shop-now .tile h3,
      body .shop-now .tile p,
      body .shop-now .tile a {
        padding: 0 20px; }
      body .shop-now .tile .front {
        background: #fff;
        transition: all 0.5s ease-in-out;
        z-index: 2; }
        body .shop-now .tile .front img {
          height: 350px; }
          @media only screen and (max-width: 1025px) {
            body .shop-now .tile .front img {
              height: auto;
              width: auto;
              margin: 15px 0; } }
        body .shop-now .tile .front h3 {
          font-size: 2em;
          color: #ffffff;
          text-shadow: 0 0 5px #000;
          margin-top: -1.5em;
          margin-bottom: 1.5em; }
      body .shop-now .tile .back {
        background: rgba(0, 0, 0, 0.42);
        color: #ffffff;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease-in-out; }
        body .shop-now .tile .back h3 {
          font-size: 1.5em;
          color: #ffffff;
          margin-top: 1em;
          margin-bottom: 1em; }
        body .shop-now .tile .back a {
          display: block;
          font-size: 15px;
          color: #ffffff;
          margin: 25px;
          padding: 25px 0;
          text-decoration: none;
          font-weight: bold;
          margin-top: 65%; }
          body .shop-now .tile .back a:hover {
            text-decoration: none; }
          @media only screen and (max-width: 320px) {
            body .shop-now .tile .back a {
              margin: 100px auto; } }
          @media only screen and (max-width: 768px) {
            body .shop-now .tile .back a {
              margin: 100px auto; } }
          body .shop-now .tile .back a span {
            vertical-align: super; }
      body .shop-now .tile:hover .back {
        top: 0;
        z-index: 10;
        opacity: 1;
        visibility: visible; }
  body footer {
    background: #e5e5e5 url("./img/outline.png") right no-repeat;
    margin-right: -10px;
    margin-left: -10px;
    padding: 35px;
    min-height: 400px;
    border-top: 10px solid #ffffff; }
    @media only screen and (max-width: 1025px) {
      body footer {
        min-height: 550px; } }
    @media only screen and (max-width: 320px) {
      body footer {
        min-height: 1px; } }
    @media only screen and (max-width: 768px) {
      body footer {
        min-height: 1px; } }
    body footer .footer .footer-list {
      width: 30%;
      padding: 0;
      float: left;
      margin: auto;
      margin-right: 35px; }
      @media only screen and (max-width: 1025px) {
        body footer .footer .footer-list {
          float: left;
          width: 29%;
          margin-right: 30px; } }
      @media only screen and (max-width: 320px) {
        body footer .footer .footer-list {
          float: none;
          width: 100%;
          clear: both; } }
      @media only screen and (max-width: 768px) {
        body footer .footer .footer-list {
          float: none;
          width: 100%;
          clear: both; } }
      body footer .footer .footer-list h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 28px;
        text-align: left;
        margin-left: 25px;
        position: relative; }
        @media only screen and (max-width: 320px) {
          body footer .footer .footer-list h3 {
            margin: 25px 0; } }
        @media only screen and (max-width: 768px) {
          body footer .footer .footer-list h3 {
            margin: 25px 0; } }
        body footer .footer .footer-list h3 span {
          border-bottom: 10px solid rgba(0, 0, 0, 0.06);
          color: rgba(255, 255, 255, 0);
          position: absolute;
          top: -9px;
          left: -20px; }
          @media only screen and (max-width: 320px) {
            body footer .footer .footer-list h3 span {
              display: none; } }
          @media only screen and (max-width: 768px) {
            body footer .footer .footer-list h3 span {
              display: none; } }
      body footer .footer .footer-list ul {
        list-style: none; }
        body footer .footer .footer-list ul li {
          float: left;
          width: 50%;
          margin: 15px 0; }
          body footer .footer .footer-list ul li a {
            text-decoration: none;
            color: #000000; }
            body footer .footer .footer-list ul li a:hover {
              text-decoration: none;
              color: #b4777b; }
      body footer .footer .footer-list label {
        margin-top: 44px;
        display: block; }
      body footer .footer .footer-list input {
        width: 90%;
        border: 0;
        background: rgba(204, 204, 204, 0);
        border-bottom: 1px solid #7b7878;
        height: 25px;
        transition: all 0.2s linear; }
        body footer .footer .footer-list input:focus {
          border-bottom: 2px outset #7b7878;
          outline: 0;
          background: rgba(187, 127, 131, 0.15); }
          body footer .footer .footer-list input:focus + button {
            border-bottom: 2px outset #7b7878;
            background: rgba(187, 127, 131, 0.15);
            height: 29px; }
      body footer .footer .footer-list button {
        border: 0;
        background: rgba(204, 204, 204, 0);
        border-bottom: 1px solid #7b7878;
        height: 28px;
        cursor: pointer; }
        body footer .footer .footer-list button:focus {
          border-bottom: 2px outset #7b7878;
          outline: 0; }
        body footer .footer .footer-list button em {
          color: #585656;
          transform: rotate(45deg); }
    body footer .second-footer {
      margin-top: 50px;
      text-align: center; }
      body footer .second-footer .footer-list ul li {
        float: none;
        text-align: center;
        width: 100%;
        padding: 0; }
        @media only screen and (max-width: 1025px) {
          body footer .second-footer .footer-list ul li {
            margin: auto; } }
        @media only screen and (max-width: 320px) {
          body footer .second-footer .footer-list ul li {
            margin-bottom: 40px;
            padding: 0; } }
        @media only screen and (max-width: 768px) {
          body footer .second-footer .footer-list ul li {
            margin-bottom: 40px;
            padding: 0; } }
      body footer .second-footer .footer-list p {
        display: inline;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px; }
        @media only screen and (max-width: 320px) {
          body footer .second-footer .footer-list p {
            display: block;
            text-align: center; } }
        @media only screen and (max-width: 768px) {
          body footer .second-footer .footer-list p {
            display: block;
            text-align: center; } }
      body footer .second-footer .footer-list a {
        text-decoration: none;
        color: #000000;
        margin-left: 10px; }
        body footer .second-footer .footer-list a:hover {
          text-decoration: underline;
          color: #000000; }
      body footer .second-footer .footer-list ul.social {
        list-style: none;
        display: inline; }
        @media only screen and (max-width: 320px) {
          body footer .second-footer .footer-list ul.social {
            display: block; } }
        @media only screen and (max-width: 768px) {
          body footer .second-footer .footer-list ul.social {
            display: block; } }
        body footer .second-footer .footer-list ul.social li {
          display: inline-block;
          width: auto;
          text-align: center; }
          body footer .second-footer .footer-list ul.social li a {
            color: #b4777b;
            border: 2px solid #b4777b;
            text-decoration: none;
            padding: 10px;
            border-radius: 50%;
            margin: 0 5px;
            box-sizing: border-box;
            transition: all 0.3s ease-in; }
            body footer .second-footer .footer-list ul.social li a:hover {
              text-decoration: none;
              background: #b4777b;
              color: #ffffff; }
            body footer .second-footer .footer-list ul.social li a em {
              vertical-align: text-top;
              font-size: 20px;
              min-width: 20px; }

/****************************
overide carousel defaults
****************************/
.owl-nav {
  position: absolute;
  left: -41.5%;
  top: 55%; }
  @media only screen and (max-width: 1025px) {
    .owl-nav {
      left: -45.5%;
      top: 65%; } }
  @media only screen and (max-width: 768px) {
    .owl-nav {
      position: relative;
      left: 15%;
      top: 0; } }
  @media only screen and (max-width: 320px) {
    .owl-nav {
      left: -45.5%;
      top: 64%; } }
  .owl-nav button {
    color: #b4777b;
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 50px;
    width: 50px;
    margin-right: 45px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px; }
    @media only screen and (max-width: 1025px) {
      .owl-nav button {
        height: 45px;
        width: 45px; } }
    .owl-nav button:hover {
      border: 1px solid #b4777b; }
      .owl-nav button:hover em {
        color: #b4777b; }
    .owl-nav button:focus {
      outline: 0; }
    .owl-nav button em {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.5); }

/***************************
Handle Menu in mobile screens
**********************************/
#burger {
  visibility: hidden; }

@media only screen and (max-width: 768px) {
  input + label {
    position: absolute;
    top: 80px;
    height: auto;
    width: 100%;
    z-index: 5;
    font-size: 28px;
    display: block;
    margin: auto;
    left: 10px; }

  label:hover {
    cursor: pointer; }

  /* input:checked + label {
  }*/
  input ~ nav {
    display: none;
    position: fixed !important;
    top: 80px;
    background: #ffffff;
    z-index: 100;
    left: 0;
    margin: auto;
    padding: 0; }
    input ~ nav .toggle-div {
      position: relative; }

  input:checked ~ nav {
    display: block; } }

/*# sourceMappingURL=main.css.map */
